#card1 {
    width: 40vw;
    height: 8vh;
    padding: 0px;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.title {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 9vh;
    width: 33vh;
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
}

.description {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 5vh;
    font-weight: 500;
    margin: 0;
    font-style: normal;
}

@media only screen and (max-width: 1080px) {
    #card1 {
        margin-left: 2vw;
    }

    .description {
        font-size: 4.5vh;
    }
}

@media only screen and (max-width : 1024px) {
    #card1 {
        width: 50vw;
        margin-right: 10vw;
    }

    .title {
        font-size: 6vh;
        margin-top: 80px;
    }

    .description {
        width: 60vw;
        font-size: 4vh;
    }
}

@media only screen and (max-width : 430px) {
    #card1 {
        padding: 0.35vh;
    }

    .description {
        font-size: 3.8vh;
    }
}